<div class="panel panel-primary">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-edit"></span> &nbsp; <b> <%= params[:action].capitalize %> </b>
  </div>
  <div class="panel-body">
    <%= f.input :name %>
    <%= f.input :dob, as: :string, input_html: {class: 'jquery_date'} %>
    <%= f.input :gender, as: :radio_buttons, collection: Student::GENDER %>
    <%= f.input :contact_number %>    
    <%= f.association :courses, collection: Course.active, multiple: true, include_hidden: false,  include_blank: false %>
    <%= f.input :active, as: :boolean,
                checked_value: 'Y',
                unchecked_value: 'N',
                length: 10,
                wrapper: :horizontal_radio_and_checkboxes,
                input_html: { checked: @student.new_record? ? true : @student.is_activated?,
                class: 'input-xlarge' },
                required: true %>
    <%= f.submit submit_btn_text , class: 'btn btn-primary submit-button' %>
  </div>
</div>

