<tr id="sorting_ids_<%=course.id%>">
    <td><%=link_to course.name, edit_course_path(course), {data: {toggle: "tooltip", title: "edit"} } %></td>
    <td><%= course.description %></td>
    <td style="text-align: center"><%= link_to(image_tag( course.active == 'Y' ? "accept" : "reject", 
	{alt: "", align: "middle", border: "0", size: "20x20" }) + "", 'javascript:void(0);', data: {toggle: "tooltip", title: "#{course.active == 'Y' ? 'deactive' : ' active'}", confirmmessage: 'Are you sure, do you want to activate or deactivate?', url: active_deactive_courses_path(id: course.id)}, class: 'bootstrap_confirm' ) %></td>
    <td class="drag" style="text-align: center" ><%= course.position %>
    	 <span data-toggle="tooltip" data-title="drag" >
    		<%=image_tag("arrow", {alt: "", align: "middle", border: "0", size: "20x20" }) %>
    	</span>
    </td>
</tr>